*{
	padding: 0;
	margin: 0;
}
ul,ol,li{
	list-style: none;
}
.clearFix:after{
	content: "";
	display: block;
	clear: both;
}
#wrap{
		width: 678px;
		height: 615px;
		margin: 10px auto;
		border: 1px solid #000; 
		background-color: #f8f7f4;
}
/*顶部样式*/
.header{
		height: 50px;
}
.header>span{
	float: left;
	margin: 20px 0 0 12px;
	line-height: 30px;
}
.headImg{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: url(img/head.png) center center;
	background-size: cover;
}
/*导航样式*/
.nav{
	height: 40px;
	line-height: 37px;
	border-bottom: 1px solid #e2e1df;
}
.nav>li{
	float: left;
	margin: 0 8px;
	padding: 0 4px;
	cursor: default;
	color: #767676;
}
.nav>li:last-child:after{
	content: "▼";
	font-size: 10px;
	margin-left: 5px;
}
.nav>li:hover{
	color: #000;
}
.nav>.active{
		color: #000;
	border-bottom: 3px solid #009bdb;
}
/*底部主体样式*/
.footer>div{
float: left;
}
.notice{
width: 200px;
height: 525px;
border-left: 1px solid #e2e1df;

}
/*消息框样式*/
.talk{
	width: 476px;
}
.talkMsg{
	width: 476px;
	height: 400px;
	overflow-y: auto;
	border-bottom: 1px solid #e2e1df;
}
.time{
	text-align: center;
	color: #808080;
	font-size: 10px;
	line-height: 30px;
}
.talkInp{
	height: 124px;
}
.myHead{
	float: right;
	margin-right: 12px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: url(img/myHead.jpg) center center;
	background-size: cover;
}
.content{
	float: right;
}
.conText{
	padding: 10px;
	max-width: 380px;
	line-height: 22px;
	border-radius: 8px;
	margin-right: 10px;
	font-size: 12px;
	float: left;
	background-color: #dfdddb;
}
.area{
	width: 456px;
	padding: 5px 10px;
	height: 50px;
	resize: none;
	outline: none;
	border: none;
	background-color: #f8f7f4;
}
.btn{
	float: right;
}
.btn li{
	font-weight: bold;
	cursor: default;
	display: block;
	float: left;
	height: 24px;
	line-height: 24px;
	padding: 0 16px;
	margin-right: 12px;
	border-radius: 4px;
	font-size: 12px;
	background-color: #dbd1be;
}
.send{
		position: relative;
}
.send:after{
	content: "▼";
	color: #6e695f;
	margin-left: 15px;
}
.warning{
	width: 150px;
	height: 50px;
	border: 1px solid lightblue;
	border-radius: 8px;
	padding: 0 5px;
	position: absolute;
	left: -70px;
	top: -55px;
	display: none;
}
/*新增加点击右键效果*/

.rightbutton
{
	width: 130px;
	height: 140px;
	color: #001423;
	font-size: 12px;
	display: none;
	border: 1px solid gray;
	position: absolute;
	text-indent: 6px;

}
.rightbutton ul li
{
	line-height: 23px;
	background-color: #fff;
	

}

.kong
{
	width: 25px;
	height: 140px;
	background-color: #ECEDED;
	float: left;
}

.ctrlc
{
	color:  gray;
}
/*右键的拓展*/
.bili
{
	display: none;
}
.aaa1
{
	border-top: 1px solid gray;
}
/*添加表情效果*/
.look
{

}
.look>li
{
	float: left;
}
#lookbox
{
	width: 450px;
	height: 229px;
	display: none;
	position: absolute;
	top: 270px;
	left: 340px;
	border: 1px solid #000;
	overflow-y: scroll;
	line-height: 40px;
	background-color: #fff;
}

